interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hcservices.ecourts.gov.in/ecourtindiaHC/
  response:
    body:
      string: "\n\n<html>\n<head>\n<style>\n*{\npadding:0;margin:0;\nbox-sizing:border-box;\n}\nbody{\npadding:10px;\nfont-family:'trebuchet
        MS', 'lucida sans';\n    margin: 0;\n}\n.content{\n\twidth:500px;\n\tmargin:0
        auto;\n\tfont-size:12px;\n}\nul.levelone{\n\tborder-radius:5px;\n\tborder:1px
        solid #18669c;\n}\n\tul.levelone li {\n\tbackground: #2A7CB4;\n    padding:5px
        \ 10px;\n    text-decoration: none;\n    width: 100%;\n\tlist-style-type:none;\n\tborder:1px
        solid #18669c;\n\tborder-bottom:none;\n\tborder-right:none;\n\tborder-left:none;\n\t}\n\tul.levelone
        li:hover {\n\tbackground: #206ea2;\n\t}\n\tul.levelone > :first-child {\n
        \ border-top:none;\n  border-radius:5px 5px 0 0;\n}\n\tul.levelone > :last-child
        {\n  border-top:none;\n  border-radius:0 0 5px 5px;\n}\n\tul.levelone li\ta{\n\t\tcolor:#fff;\n\t\ttext-decoration:none;\n\t\tdisplay:block;\n\t\tfont-weight:bold;\n\t}\n\tul.leveltwo
        li\ta{\n\t\tcolor:#000;\n\t\ttext-decoration:none;\n\t\tdisplay:block;\n\t}\n\tul.levelone
        li b{\n\t\tcolor:#fff;\n\t}\n\tul.leveltwo{\n\t\tmargin-top:5px;\n\t}\n\tul.leveltwo
        li {\n\tbackground: #fff;\n\tborder-left:5px solid  #DF4938;\n    padding:5px
        10px;\n    text-decoration: none;\n    width: 100%;\n\tlist-style-type:none;\n\tpadding-left:20px;\n\t
        -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.1);\n   -webkit-box-shadow:
        inset 0 0 5px rgba(0,0,0,.1);\n   box-shadow:         inset 0 0 5px rgba(0,0,0,.1);\n\t}\n\tul.leveltwo
        li:hover {\n\tbackground: #ffe1e1;}\nh2{background: #eee;\n    width: 100%;\n
        \   padding: 5px 0px;\n    box-shadow: 0px 5px 2px rgba(0,0,0,0.2);\n    margin:0
        0 10px 0;text-align:center;}\n</style>\n</head>\n<body>\n<div class='content'>\n<ul
        class='levelone'>\n<li>\n<a href='index_highcourt.php?state_cd=24&dist_cd=1&stateNm=Sikkim'
        \ target='_blank'> High Court of Sikkim </a>\n</li>\n<li>\n<a href='index_highcourt.php?state_cd=20&dist_cd=1&stateNm=Tripura'
        target='_blank'> High Court of Tripura </a>\n</li>\n<li>\n<a href='index_highcourt.php?state_cd=21&dist_cd=1&stateNm=Meghalaya'
        \ target='_blank'> High Court of Meghalaya </a>\n</li>\n<li>\n<a href='index_highcourt.php?state_cd=25&dist_cd=1&stateNm=Manipur'
        \ target='_blank'> High Court of Manipur </a>\n</li>\n<li>\n<a href='index_highcourt.php?state_cd=5&dist_cd=1&stateNm=Himachal
        Pradesh'  target='_blank'> High Court of Himachal Pradesh </a>\n</li>\n\n\n\n<li>\n<b>
        The Gauhati High Court  </b>\n    <ul  class='leveltwo'>\n<li>\n<a href='index_highcourt.php?state_cd=6&dist_cd=1&stateNm=Assam'
        \ target='_blank'>Principal Seat at Guwahati</a>\n</li>\n<li>\n<a href='index_highcourt.php?state_cd=6&dist_cd=1&court_code=2&stateNm=Assam'
        \ target='_blank'>Kohima Bench</a>\n</li>\n<li>\n<a href='index_highcourt.php?state_cd=6&dist_cd=1&court_code=3&stateNm=Assam'
        \ target='_blank'>Aizawl Bench</a>\n</li>\n<li>\n<a href='index_highcourt.php?state_cd=6&dist_cd=1&court_code=4&state[...]
- request:
    body: action_code=fillCaseType&state_code=12&dist_code=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://hcservices.ecourts.gov.in/ecourtindiaHC/cases/s_casetype_qry.php
  response:
    body:
      string: "\uFEFF0~Select Case Type#72~417_A - 417 CRIMINAL PC#191~491 - 491 CRIMINAL
        PROCEDURE#44~491_A - 491_A CRIMINAL PROCEDURE CODE#148~561_B - 561_B CRIMINAL
        PROCEDURE CODE#32~AA - ARBITRATION APPLICATION#112~AATA - ARBITRATION APPLICATION
        TRANSFER#206~AP - Arbitration Petitions#186~AP104 - APPL. IN P[...]
